@import url('./clear.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('./fonts.css');

body {
  background-color: rgba(1, 22, 39, 1);
}

.container {
  height: 100vh;
}

/* Night trips block */
.header__container {
  background-image: linear-gradient(to bottom, rgba(1, 22, 39, 0) 66%, rgba(1, 22, 39, 1) 92%, rgba(1, 22, 39, 1) ), url('../images/header/header-bg.jpg');
}

.header__main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 77px;
}

.header__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 68px;
  font-family:'Playfair Display', serif;
  font-size: 36px;
}

.logo__point {
  color: #41EAD4;
}

.header__search {
  background-image: url('../images/header/search1.png');
  width: 24px;
  height: 24px;
  margin-right: 31px;
}

.header__menu-btn {
  width: 167px;
  height: 62px;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00C9E0;
  box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
  border-radius: 48px;
}

.btn__text::after {
  content: '';
  position: absolute;
  margin: 9px 0 0 42px;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #FFFFFF;
}

.header__content {
  margin-top: 150px;
  margin-bottom: 223px;
}

.header__title {
  text-align: center;
  font-family: 'Noe Display';
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  margin-bottom: 28px;
}

.header__subtitle {
  text-align: center;
  font-family: 'Larsseit';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.header__text {
  text-align: center;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  max-width: 643px;
  margin: 0 auto;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__leftside {
  display: flex;
  flex-direction: column;
  width: 3px;
}

.header__scroll {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.9;
  transform: rotate(-90deg);
}

.header__line {
  margin-top: 15px;
}

.vertical__line {
  width: 2px;
  height: 80px;
  background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
}

.header__socialmedia {
  flex-direction: column;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
}

.socialmedia__icon {
  height: 24px;
  width: 24px;
}

.socialmedia__twitter {
  background: url('../images/socialmedia/twitter-icon.png') no-repeat center;
}

.socialmedia__instagram {
  background: url('../images/socialmedia/instagram-icon.png') no-repeat center;
}

.socialmedia__facebook {
  background: url('../images/socialmedia/facebook-icon.png') no-repeat center;
}

/* Pick your trip block */
.pick__container {
  background: url('../images/pick/pick-bg1.svg') no-repeat;
  background-size: cover;
}

.pick__main {
  max-width: 1355px;
}