@import url('./clear.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('./fonts.css');

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(1, 22, 39, 1);
}

.container {
  height: 100vh;
}

.block__title {
  font-family: 'Noe Display';
  font-weight: 700;
  font-size: 72px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00C9E0;
  box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
  border-radius: 48px;
}

/* Night trips block */
.header__container {
  background-image: linear-gradient(to bottom, rgba(1, 22, 39, 0) 66%, rgba(1, 22, 39, 1) 92%, rgba(1, 22, 39, 1) ), url('../images/header/header-bg.jpg');
  margin-bottom: 41px;
}

.header__main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 77px;
}

.header__upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__right {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 68px;
  font-family:'Playfair Display', serif;
  font-size: 36px;
}

.logo__point {
  color: #41EAD4;
}

.header__search {
  background-image: url('../images/header/search1.png');
  width: 24px;
  height: 24px;
  margin-right: 31px;
}

.header__menu-btn {
  width: 167px;
  height: 62px;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__menu-btn::after {
  content: '';
  position: absolute;
  margin-left: 165px;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #ffffff;
}

.header__content {
  margin-top: 150px;
  margin-bottom: 223px;
}

.header__title {
  text-align: center;
  font-family: 'Noe Display';
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  margin-bottom: 28px;
}

.header__subtitle {
  text-align: center;
  font-family: 'Larsseit';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.header__text {
  text-align: center;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  max-width: 643px;
  margin: 0 auto;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__leftside {
  display: flex;
  flex-direction: column;
  width: 3px;
}

.header__scroll {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.9;
  transform: rotate(-90deg);
}

.header__line {
  margin-top: 15px;
  width: 2px;
  height: 80px;
  background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
}

.header__socialmedia {
  flex-direction: column;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
}

.socialmedia__icon {
  height: 24px;
  width: 24px;
}

.socialmedia__twitter {
  background: url('../images/socialmedia/twitter-icon.png') no-repeat center;
}

.socialmedia__instagram {
  background: url('../images/socialmedia/instagram-icon.png') no-repeat center;
}

.socialmedia__facebook {
  background: url('../images/socialmedia/facebook-icon.png') no-repeat center;
}

/* Common bg for Pick your trip and About Us blocks */
.block__bg {
  background: url('../images/pick/pick-bg1.svg') no-repeat;
  background-size: cover;
}

/* Pick your trip block */
.pick__main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 193px;
}

.pick__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 75px;
}

.pick__uppertext {
  font-family: 'Larsseit';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.pick__multiplesign {
  color: rgba(65, 234, 212, 1);
  font-size: 30px;
  margin: 0 39px 0 51px;
  margin-top: 15px;
}

.pick__uppertext {
  white-space: pre-line;
  margin-bottom: 10px;
}

.pick__menu {
  width: 1200px;
  width: 100%;
  border-bottom: 2px solid rgba(65, 234, 212, 0.3);
  margin-bottom: 150px;
}

.menu__tabs {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 89px 39px 86px;
}

.pickmenu__tabs {
  font-family: 'Larsseit';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.pick__info {
  display: flex;
  flex-direction: row;
}

.pick__image {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  width: 486px;
  height: 607px;
  background: url('../images/pick/images/landscape-dunes.jpg') no-repeat center;
  border-radius: 8px;
  margin-right: 126px;
}

.pick__paragraph {
  position: absolute;
  top: 249px;
  left: -93px;
}

.paragraph__number {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #41EAD4;
}
.paragraph__number::before {
  content: '';
  display: block;
  width: 173px;
  height: 13px;
  border-top: 2px solid #41EAD4;
  border-left: 2px solid #41EAD4;
}

.paragraph__title {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  white-space: pre-line;
}

.pick__arrows {
  width: 132px;
  display: flex;
  justify-content: space-between;
}

.pick__arrow {
  position: relative;
  width: 65px;
  height: 65px;
  background: #011627;
  box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
}

.pick__arrow img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.arrow__previous {
  border-radius: 10px 0 0 0;
}
.arrow__next {
  border-radius: 0 0 10px 0;
}


.pick__description {
  display: flex;
  flex-direction: column;
}

.description__title {
  margin-top: 60px;
  margin-bottom: 34px;
  font-size: 64px;
  font-weight: 400;
}

.pick__suptext,
.pick__text {
  white-space: pre-line;
  line-height: 1.5;
  font-size: 17px;
}

.pick__suptext {
  margin-bottom: 35px;
}

.pick__text {
  margin-bottom: 45px;
  font-weight: 400;
}

.btn__common {
  width: 282px;
  height: 65px;
}

.btn__text {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 190%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.btn__common::after {
  content: '';
  position: absolute;
  margin-left: 280px;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #ffffff;
}

.pick__bottom {
  position: relative;
}

.pick__cube {
  background: url('../images/pick/images/cube-dots.png') no-repeat;
  width: 230px;
  height: 230px;
  position: absolute;
  top: -175px;
  left: -56px;
  z-index: -1;
}

.pick__right {
  position: absolute;
  top: -83px;
  right: -61px;
  width: 134px;
}

.pick__right::after {
  content: '';
  display: block;
  width: 133px;
  height: 32px;
  margin-top: -11px;
  margin-left: 1px;
  border-right: 2px solid #41EAD4;
  border-bottom: 2px solid #41EAD4;
}

.pick__share {
  font-family: 'Larsseit';
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 20px;
}

.pick__socialmedia {
  display: flex;
  flex-direction: row;
  width: 118px;
}

/* About Us block */
.about__us {
  background: url('../images/about/images/about-bg.png') no-repeat;
  background-size: cover;
}

.about__container {
  position: relative;
  max-width: 1391px;
  width: 100%;
  margin: 0 auto;
}
.about__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 142px;
}

.about__description {
  margin-top: 50px;
}

.about__title {
  font-family: 'Noe Display';
  font-size: 72px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: -0.02em;
}

.common__text {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.02em;
  white-space: pre-line;
  margin-bottom: 10px;
}

.about__text {
  color: rgba(255, 255, 255, 0.500);
}

.about__cards {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 790px;
}

.about__card {
  position: relative;
  width: 395px;
  height: 395px
}

.about__card.card-1 { 
  background: url('../images/about/images/aboutcard-1.jpg') no-repeat center;
}
.about__card.card-2 { 
  background: url('../images/about/images/aboutcard-2.jpg') no-repeat center;
  opacity: 0.4;
}
.about__card.card-3 { 
  background: url('../images/about/images/aboutcard-3.jpg') no-repeat center;
  opacity: 0.4;
}
.about__card.card-4 { 
  background: url('../images/about/images/aboutcard-4.jpg') no-repeat center;
  opacity: 0.4;
}

.card__name {
  position: absolute;
  top: 270px;
  left: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
  border-radius: 8px;
  width: 186px;
  height: 75px;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}

.card__name span {
  color: rgba(0, 201, 224, 1);
}

.about__dots {
  background: url('../images/about/images/about-dots.png') no-repeat;
  width: 70px;
  height: 470px;
  position: absolute;
  top: 302px;
  right: 16px;
}

/* People's thoughts block */
.thoughts__container {
  position: relative;
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  background: #011627;
  border-radius: 8px;
  margin-bottom: 290px;
}

.vertical__line {
  content: '';
  position: absolute;
  top: -40px;
  left: 50%;
  width: 2px;
  height: 80px;
  background: linear-gradient(#09F4F4 0%, #00C9E0 100%);
  border-radius: 13px;
}

.thoughts__inner {
  max-width: 1045px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 150px;
}

.thoughts__title {
  font-family: 'Noe Display';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 31px;
  margin-top: 100px;
}

.thoughts__subtitle {
  text-transform: uppercase;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.20em;
  margin-bottom: 73px;
}

.thoughts__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.card__wrap {
  position: relative;
  width: 510px;
  height: 504px;
  background: rgba(2, 34, 59, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  white-space: pre-line;
}

.thoughts__card {
  margin: 0 auto;
}

.card__brackets {
  position: absolute;
  top: 75px;
  left: 35px;
  width: 32px;
  height: 25px;
  background: url('../images/thoughts/images/brackets.png') no-repeat center;
}

.card__text {
  color: rgba(255, 255, 255, 0.5);
}

.card__info {
  display: flex;
  flex-direction: row;
}

.card__photo {
  width: 80px;
  height: 80px;
  background: url('../images/thoughts/images/card__photo.jpg') no-repeat center;
  margin-right: 12px;
}

.card__identity {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* See you soon block */
.see__you {
  margin-bottom: 145px;
}
.first__message {
  font-family: 'Noe Display';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 31px;
}

.last__message {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  white-space: pre-line;
}

/* Footer block */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  padding-top: 135px;
}

.footer__menu {
  max-width: 1025px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 68px;
}

.footer__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 180px;
}

.list__about,
.list__faq,
.list__events,
.list__contact,
.list__follow {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list__arrow {
  background: url('../images/footer/images/divider.png') no-repeat center;
  width: 56px;
  height: 7px;
  margin-bottom: 20px;
}

li {
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.footer__follow {
  max-width: 108px;
  width: 100%;
}

.copyright {
  margin-bottom: 45px;
  font-family: 'Larsseit';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}